# 03Coursera

##  Introduction
Tilto, Inc. is a Lithuanian education and technology company, registered in the United States. Tilto is planning to create a company with Coursera as a model. Coursera was founded by Daphne Koller and Andrew Ng in 2012 with a vision of providing life-transforming learning experiences to learners around the world. Today, Coursera is a global online learning platform that offers anyone, anywhere, access to online courses and degrees from leading universities and companies. 

Tilto means bridge in Lithuanian and the company plans to create a bridge between citizens of the world and their human potentials. Titlo has a similar vision as Coursera. Tilto plans to become an international company that impacts the world by making its citizens realize their innate potentials. Therefore, its leaders wish to understand what makes Coursera successful. They also want to know what has not worked and become an even better organization than Coursera. 

For this analysis, I will work with a dataset provided by Coursea and obtained from Kaggle to help Tilto, Inc achieve their vision.

## Goals

The goal of this project is to analyze Coursera's current offering and advise Tilto's leadership on how to move forward with their vision. This analysis will answer the following questions:

**Total Enrollment**
1. How many students in total have enrolled at Coursera?

**Organizations**
1. Which ten organizations have the highest enrollment?
2. Which ten organizations have the highest number of courses?

**Courses**
1. How many courses are taught at Coursera?
2. What are the top ten course titles at Coursera?

**Difficulty Levels**
1. What are the different difficulty levels at Coursea?
2. Which level of courses are more popular among learners?

**Certificates**
1. What types of certificates are provided at Coursera?
2. What is the total number of each type of certificate offered?

**Ratings**
1. Which are the top ten highest rated courses by students?
2. Which are the bottom ten lowest rated courses?
3. Which are the top ten highest rated organizations? 
4. Which are the bottom ten lowest rated organizations?

**Correlations**
1. What is the corrleations between difficulty level of a course and enrollment? 
2. What is the corrleations between difficulty level and rating?
2. What is the correlation between certificate type and enrollement? 
3. What is the correlation between certificate type and rating?

**Imrpovements**
1. How can Tilto become a better organization than Coursera?

## Importing Libraries and Loading Data

### Importing Libraries

In [69]:
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings # Supresses FutureWarning that are unnecessary.

### Loading Data in Pandas

The data is a csv file that I have dowloaded from Kaggle. In this section, I create a pandas dataframe object so I can work with the data.

In [70]:
coursera = pd.read_csv('C:\py\Projects\TuringCollege\Coursera\DataSet\coursera.csv', index_col = 0, skipinitialspace = True)

## Basic Information

In this section, I will display the following information about this dataset:

1. Number of rows and columns
2. Total number of data enteries
3. The first 5 rows
4. The data types in this dataset

### Number of Rows and Columns 

This dataset is made of 891 rows and 6 columns.

In [71]:
coursera.shape

(891, 6)

### Total Number of Entries 

This dataset is made of 5346 data enteries.

In [72]:
coursera.size

5346

### The First Ten Rows

In [73]:
pd.set_option("display.max.columns", None) 
coursera.sort_index(inplace=True)
coursera.head(10)

,course_title,course_organization,course_Certificate_type,course_rating,course_difficulty,course_students_enrolled
0,IBM Data Science,IBM,PROFESSIONAL CERTIFICATE,4.6,Beginner,480k
1,Introduction to Data Science,IBM,SPECIALIZATION,4.6,Beginner,310k
2,The Science of Well-Being,Yale University,COURSE,4.9,Mixed,2.5m
3,Python for Everybody,University of Michigan,SPECIALIZATION,4.8,Beginner,1.5m
4,Google IT Support,Google,PROFESSIONAL CERTIFICATE,4.8,Beginner,350k
5,Deep Learning,deeplearning.ai,SPECIALIZATION,4.8,Intermediate,690k
6,Machine Learning,Stanford University,COURSE,4.9,Mixed,3.2m
7,Business Foundations,University of Pennsylvania,SPECIALIZATION,4.7,Beginner,510k
8,Applied Data Science,IBM,SPECIALIZATION,4.6,Beginner,220k
9,Cloud Engineering with Google Cloud,Google Cloud,PROFESSIONAL CERTIFICATE,4.7,Intermediate,310k

### Data Types

All data types of this dataset are string except for course_rating.

In [74]:
coursera.dtypes

course_title                 object
course_organization          object
course_Certificate_type      object
course_rating               float64
course_difficulty            object
course_students_enrolled     object
dtype: object

## Data Cleaning

### Missing Values
This dataset has no missing values

In [75]:
coursera.isnull().sum()

course_title                0
course_organization         0
course_Certificate_type     0
course_rating               0
course_difficulty           0
course_students_enrolled    0
dtype: int64

### Duplicate Values

This dataset has no duplicate values.

In [76]:
coursera[coursera.duplicated(keep = False)].sum()

course_title                0.0
course_organization         0.0
course_Certificate_type     0.0
course_rating               0.0
course_difficulty           0.0
course_students_enrolled    0.0
dtype: float64

### Modification of Column Names

I modified the name of each column to be clearer and more attractive.

In [95]:
coursera.rename(columns = {'course_title':'Course', 
                           'course_organization':'Organization', 
                           'course_Certificate_type':'Certificate',
                           'course_rating':'Rating',
                          'course_difficulty':'Difficulty',
                          'course_students_enrolled':'Students'}, inplace = True)

In [78]:
coursera.head()

,Course,Organization,Certificate,Rating,Difficulty,Students
0,IBM Data Science,IBM,PROFESSIONAL CERTIFICATE,4.6,Beginner,480k
1,Introduction to Data Science,IBM,SPECIALIZATION,4.6,Beginner,310k
2,The Science of Well-Being,Yale University,COURSE,4.9,Mixed,2.5m
3,Python for Everybody,University of Michigan,SPECIALIZATION,4.8,Beginner,1.5m
4,Google IT Support,Google,PROFESSIONAL CERTIFICATE,4.8,Beginner,350k

### Modification of Certificate Column

I modified the Certificate column so the text is in title case. I also removed the uncessary text, 'Certificate' from some of the enteries.

In [79]:
# Makes each string into title case.
coursera['Certificate'] = coursera['Certificate'].str.title()

# Removes text 'Certificate' from any value in this column.
coursera['Certificate'] = coursera['Certificate'].str.replace(r'Certificate', '') 

# Removes ALL white spaces from values of this column.
coursera['Certificate'].str.strip()

coursera.head(10)

,Course,Organization,Certificate,Rating,Difficulty,Students
0,IBM Data Science,IBM,Professional,4.6,Beginner,480k
1,Introduction to Data Science,IBM,Specialization,4.6,Beginner,310k
2,The Science of Well-Being,Yale University,Course,4.9,Mixed,2.5m
3,Python for Everybody,University of Michigan,Specialization,4.8,Beginner,1.5m
4,Google IT Support,Google,Professional,4.8,Beginner,350k
5,Deep Learning,deeplearning.ai,Specialization,4.8,Intermediate,690k
6,Machine Learning,Stanford University,Course,4.9,Mixed,3.2m
7,Business Foundations,University of Pennsylvania,Specialization,4.7,Beginner,510k
8,Applied Data Science,IBM,Specialization,4.6,Beginner,220k
9,Cloud Engineering with Google Cloud,Google Cloud,Professional,4.7,Intermediate,310k

### Modification of Student Column

I modified this column so numbers appear as integers.

In [97]:
coursera.Students.str.extract('(\d+)')

AttributeError: 'DataFrame' object has no attribute 'Students'

In [80]:
# Extractes the symbol 'k' or 'm' from the text in the Enrollment column. Created a new column called 'Symbol' for it.
coursera['Symbol'] = coursera['Students'].str[-1:]

In [81]:
# Extractes the digits from the Enrollment column and set the digits as float.
pd.set_option("max_rows", None)
coursera['Students'] = coursera['Students'].str.extract(r'(\d+[.\d]*)').astype(float)

In [82]:
# If the 'Symbol' column shows 'k', the number in the Enrollment column is multiplied by 1000.
# If it shows 'm', the number is multiplied by 1,000,000.
coursera.loc[coursera['Symbol'] == 'k', 'Multiple'] = 1000
coursera.loc[coursera['Symbol'] == 'm', 'Multiple'] = 1000000
coursera['Multiple'] = coursera['Multiple'].astype(int)

In [83]:
# Creates a new column called, 'Enrolled' with the product of the multiplication above.
# Formates the column to display numbers with comma separator on each 3 digits from the right.
coursera['Enrollment'] = coursera['Students'] * coursera['Multiple']
coursera['Enrollment'] = coursera['Enrollment'].astype(int)

In [84]:
# Deletes the unnecssary columns after the operations above. 
coursera = coursera.drop(['Symbol', 'Multiple', 'Students'], axis = 1)

In [85]:
coursera.head(10)

,Course,Organization,Certificate,Rating,Difficulty,Enrollment
0,IBM Data Science,IBM,Professional,4.6,Beginner,480000
1,Introduction to Data Science,IBM,Specialization,4.6,Beginner,310000
2,The Science of Well-Being,Yale University,Course,4.9,Mixed,2500000
3,Python for Everybody,University of Michigan,Specialization,4.8,Beginner,1500000
4,Google IT Support,Google,Professional,4.8,Beginner,350000
5,Deep Learning,deeplearning.ai,Specialization,4.8,Intermediate,690000
6,Machine Learning,Stanford University,Course,4.9,Mixed,3200000
7,Business Foundations,University of Pennsylvania,Specialization,4.7,Beginner,510000
8,Applied Data Science,IBM,Specialization,4.6,Beginner,220000
9,Cloud Engineering with Google Cloud,Google Cloud,Professional,4.7,Intermediate,310000

### Modification of Order of Columns

I modified order of the columns to make it more readable and workable.

In [86]:
coursera = coursera[['Organization', 'Course', 'Difficulty', 'Certificate', 'Enrollment', 'Rating']]
coursera.head(10)

,Organization,Course,Difficulty,Certificate,Enrollment,Rating
0,IBM,IBM Data Science,Beginner,Professional,480000,4.6
1,IBM,Introduction to Data Science,Beginner,Specialization,310000,4.6
2,Yale University,The Science of Well-Being,Mixed,Course,2500000,4.9
3,University of Michigan,Python for Everybody,Beginner,Specialization,1500000,4.8
4,Google,Google IT Support,Beginner,Professional,350000,4.8
5,deeplearning.ai,Deep Learning,Intermediate,Specialization,690000,4.8
6,Stanford University,Machine Learning,Mixed,Course,3200000,4.9
7,University of Pennsylvania,Business Foundations,Beginner,Specialization,510000,4.7
8,IBM,Applied Data Science,Beginner,Specialization,220000,4.6
9,Google Cloud,Cloud Engineering with Google Cloud,Intermediate,Professional,310000,4.7

## Descriptive Statistics

In this section, I provide basic statistical details summarize the data on 2 numerical features of this dataset.

1.  **Rating:** The subjective 1 - 5 score that students give at the end of a course based on various criterea.
2.  **Enrollment:** The number of students enrolled.

In [94]:
coursera.describe().applymap('{:,.2f}'.format)

         Enrollment  Rating
count        891.00  891.00
mean      90,552.08    4.68
std      181,936.45    0.16
min        1,500.00    3.30
25%       17,500.00    4.60
50%       42,000.00    4.70
75%       99,500.00    4.80
max    3,200,000.00    5.00

## Exploratory Data Analysis (EDA)

### Total Enrollment

The total enrollment at Coursera according to this data set is: 80,681,900

In [53]:
coursera['Enrollment'].sum()

80681900

### Organizations

In this section, I will answer the following questions:

1. Which ten organizations have the highest enrollment?
2. Which ten organizations have the highest number of courses?

#### Which ten organizations have the highest enrollment?

In [54]:
organizations = coursera.pivot_table('Enrollment', index = 'Organization', aggfunc='sum', 
                                    margins=True, margins_name = 'Total Enrollment')
organizations.sort_values('Enrollment', ascending = False).head(10)

                                  Enrollment
Organization
Total Enrollment                    80681900
University of Michigan               7437700
University of Pennsylvania           5501300
Stanford University                  4854000
University of California, Irvine     4326000
Johns Hopkins University             4298900
Duke University                      3967600
Yale University                      3952000
IBM                                  2956400
deeplearning.ai                      2863400

#### Which ten organizations have the highest number of courses?

In [55]:
organizations = coursera.pivot_table('Course', index = 'Organization', aggfunc='count', dropna=True)
organizations.sort_values('Course', ascending = False).head(10)

                                            Course
Organization
University of Pennsylvania                      59
University of Michigan                          41
Google Cloud                                    34
Duke University                                 28
Johns Hopkins University                        28
University of California, Irvine                27
University of Illinois at Urbana-Champaign      22
IBM                                             22
University of California, Davis                 21
University of Colorado Boulder                  19

### Courses

In this section, I will answer the following questions:

1. How many courses are taught at Coursera?
2. What are the top ten course titles at Coursera?

#### How many courses are taught at Coursera?

In [56]:
len(coursera['Course'].unique().tolist())

888

#### What are the top ten course titles at Coursera?

In [57]:
courses = coursera.pivot_table('Enrollment', index = 'Course', aggfunc='sum')
courses.sort_values('Enrollment', ascending = False).head(10)

                                                    Enrollment
Course
Machine Learning                                       3490000
The Science of Well-Being                              2500000
Python for Everybody                                   1500000
Programming for Everybody (Getting Started with...     1300000
Data Science                                            830000
Career Success                                          790000
English for Career Development                          760000
Successful Negotiation: Essential Strategies an...      750000
Data Science: Foundations using R                       740000
Deep Learning                                           690000

### Difficulty Levels

In this section, I will answer the following questions:

1. What are the different difficulty levels at Coursea?
2. Which level of courses are more popular among learners?

#### What are the different difficulty levels at Coursea?

In [58]:
coursera['Difficulty'].unique().tolist()

['Beginner', 'Mixed', 'Intermediate', 'Advanced']

#### Which level of courses are more popular among learners?

In [59]:
difficulty = coursera.pivot_table('Enrollment', index = 'Difficulty', aggfunc='sum', 
                                  margins=True, margins_name = 'Total Enrollment')
difficulty.sort_values('Enrollment', ascending = False).head(10)

                  Enrollment
Difficulty
Total Enrollment    80681900
Beginner            39921800
Mixed               24989400
Intermediate        14506300
Advanced             1264400

### Certificates

In this section, I will answer the following questions:

1. What types of certificates are provided at Coursera?
2. What is the total number of each type of certificate offered?

#### What types of certificates are provided at Coursera?

In [60]:
coursera['Certificate'].unique().tolist()

['Professional ', 'Specialization', 'Course']

#### What is the total number of each type of certificate offered?

In [61]:
certificates = coursera.pivot_table('Enrollment', index = 'Certificate', aggfunc='sum', 
                                    margins=True, margins_name = 'Total Enrollment')
certificates.sort_values('Enrollment', ascending = False).head(10)

                  Enrollment
Certificate
Total Enrollment    80681900
Course              51131300
Specialization      27262200
Professional         2288400

### Ratings

In this section, I will answer the following questions:

1. Which are the top ten highest rated courses by students?
2. Which are the bottom ten lowest rated courses?
3. Which are the top ten highest rated organizations? 
4. Which are the bottom ten lowest rated organizations?

#### Which are the top ten highest rated courses by students?

In [62]:
ratings = coursera.pivot_table('Rating', index = 'Course')
ratings.sort_values('Rating', ascending = False).head(10)

                                                    Rating
Course
Infectious Disease Modelling                           5.0
El Abogado del Futuro: Legaltech y la Transform...     5.0
Stories of Infection                                   4.9
Boosting Creativity for Innovation                     4.9
Brand Management: Aligning Business, Brand and ...     4.9
Understanding Einstein: The Special Theory of R...     4.9
Bugs 101: Insect-Human Interactions                    4.9
Build a Modern Computer from First Principles: ...     4.9
Introduction to Psychology                             4.9
Everyday Parenting: The ABCs of Child Rearing          4.9

#### Which are the bottom ten lowest rated courses?

In [63]:
ratings = coursera.pivot_table('Rating', index = 'Course')
ratings.sort_values('Rating', ascending = False).tail(10)

                                                    Rating
Course
Optical Engineering                                    4.2
Foundations of Marketing Analytics                     4.2
Instructional Design Foundations and Applications      4.2
How to Start Your Own Business                         4.1
Introduction to Trading, Machine Learning & GCP        4.0
Mathematics for Machine Learning: PCA                  4.0
iOS App Development with Swift                         3.9
Machine Learning for Trading                           3.9
Machine Learning and Reinforcement Learning in ...     3.7
How To Create a Website in a Weekend! (Project-...     3.3

#### Which are the top ten highest rated organizations?

In [64]:
ratings = coursera.pivot_table('Rating', index = 'Organization')
ratings.sort_values('Rating', ascending = False).head(10)

                                               Rating
Organization
Hebrew University of Jerusalem               4.900000
Nanyang Technological University, Singapore  4.900000
Universidade Estadual de Campinas            4.900000
Crece con Google                             4.900000
London Business School                       4.900000
Google - Spectrum Sharing                    4.900000
ScrumTrek                                    4.900000
Universidade de So Paulo                    4.866667
The University of Chicago                    4.850000
Universidad de los Andes                     4.820000

#### Which are the bottom ten lowest rated organizations?

In [65]:
ratings = coursera.pivot_table('Rating', index = 'Organization')
ratings.sort_values('Rating', ascending = False).tail(10)

                                                    Rating
Organization
Peter the Great St. Petersburg Polytechnic Univ...   4.400
American Institute of Business and Economics         4.400
Icahn School of Medicine at Mount Sinai              4.400
Novosibirsk State University                         4.400
The Linux Foundation                                 4.400
Luther College at the University of Regina           4.400
Unity                                                4.350
New York Institute of Finance                        4.300
Tsinghua University                                  4.300
The State University of New York                     4.275

### Correlations

What is the corrleations between difficulty level of a course and enrollment?
What is the corrleations between difficulty level and rating?
What is the correlation between certificate type and enrollement?
What is the correlation between certificate type and rating?